--color-yellow-400: #f0d043;
--color-blue-400: #5b82f6;
--color-gray-100: #f7f7f8;
--color-gray-200: #e8e9ea;
--color-gray-300: #d1d5db;
--color-gray-400: #9ca3af;
--color-gray-500: #6b7280;
--color-gray-600: #4b5563;
--color-gray-700: #374151;
--color-gray-800: #1f2937;
--color-gray-900: #111827;
--color-neutral-400: #a3a3a3;
--color-neutral-700: #404040;
--tw-prose-body: #374151;
--tw-prose-headings: #111827;
--tw-prose-lead: #4b5563;
--tw-prose-links: #111827;
--tw-prose-bold: #111827;
--tw-prose-counters: #6b7280;
--tw-prose-bullets: #d1d5db;
--tw-prose-hr: #e8e9ea;
--tw-prose-quotes: #111827;
--tw-prose-quote-borders: #e8e9ea;
--tw-prose-captions: #6b7280;
--tw-prose-kbd: #111827;
--tw-prose-kbd-shadows: #000000;
--tw-prose-code: #111827;
--tw-prose-pre-code: #e8e9ea;
--tw-prose-pre-bg: #1f2937;
--tw-prose-th-borders: #d1d5db;
--tw-prose-td-borders: #e8e9ea;
--tw-prose-invert-body: #d1d5db;
--tw-prose-invert-headings: #ffffff;
--tw-prose-invert-lead: #9ca3af;
--tw-prose-invert-links: #ffffff;
--tw-prose-invert-bold: #ffffff;
--tw-prose-invert-counters: #9ca3af;
--tw-prose-invert-bullets: #4b5563;
--tw-prose-invert-hr: #374151;
--tw-prose-invert-quotes: #f7f7f8;
--tw-prose-invert-quote-borders: #374151;
--tw-prose-invert-captions: #9ca3af;
--tw-prose-invert-kbd: #ffffff;
--tw-prose-invert-kbd-shadows: #ffffff;
--tw-prose-invert-code: #ffffff;
--tw-prose-invert-pre-code: #d1d5db;
--tw-prose-invert-pre-bg: rgba(0, 0, 0, 0.5);
--tw-prose-invert-th-borders: #4b5563;
--tw-prose-invert-td-borders: #374151;