---
layout: default
---

<!-- Blog Content -->
<div class="text-center mb-12">
  <h1 class="text-4xl font-bold text-gray-800 dark:text-white mb-4">
    Welcome to My Blog
  </h1>
  <p class="text-gray-600 dark:text-gray-300 mx-auto max-w-2xl">
    {{ site.description }}
  </p>
</div>

<!-- Post Grid -->
<div class="grid grid-cols-1 md:grid-cols-2 gap-6 md:mx-24 mb-6">
{% assign posts_by_year = site.posts | group_by_exp:"post", "post.date | date:
'%Y'" %} {% for year in posts_by_year %} {% for post in year.items %}

  <!-- Post Card -->
  <div class="bg-white dark:bg-gray-800 rounded-lg shadow-lg overflow-hidden">
    
    <!-- Thumbnail -->
    {% if post.thumbnail %}
    <a href="{{ post.url | relative_url }}" data-controller="thumbnail">
      <div class="w-full h-48 overflow-hidden rounded-t-lg">
        <img
          src="{{ post.thumbnail }}"
          alt="Thumbnail {{ post.title }}"
          data-thumbnail-target="image"
          class="w-full h-full object-cover transform transition-transform duration-300 ease-in-out"
        />
      </div>
    </a>

    {% endif %}

    <!-- Post Content -->
    <div class="p-4">
      <div class="flex items-center text-sm text-gray-500 dark:text-gray-400 mb-2 space-x-2">
        <i class="far fa-calendar"></i>
        <span>{{ post.date | date: "%b %-d, %Y" }} - {{ post.author }}</span>
      </div>

      <h3 class="text-xl font-bold text-gray-800 dark:text-white hover:text-primary transition-colors">
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </h3>
    </div>
  </div>


{% endfor %} {% endfor %}

</div>
